<% layout('./layouts/boilerplate.ejs')  -%> 
<div class="container-fluid p-0" id="main">
    <div class="row">
        <div class="col-md fourofour">
            <div class="col-md-6 offset-md-5 mt-5">
                <div class="card errorcard text-center" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Whoooops!! Error : 404</h5>
                  <p class="card-text">Sorry about that, we searched all through the code monkeys database and came up short...They do send this picture as an apology though, hopefully it helps.</p>
                  <a href="/" class="btn btn-primary">Go home</a>
                </div>
              </div>
            </div>
        </div>
    </div>