<% layout('./layouts/boilerplate.ejs')  -%> 
<div class="container-fluid p-0" id="main">
    <div class="row">
        <div class="col-md-12 landing-main">
            <div class="col-md-3 offset-md-3">
                <p class="tag-line">Catchy join phrase</p>
                <a class="btn btn-join" href="/sign-up" role="button">Join us</a>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 offset-md-4 mb-5">
            <h4 class="text-center">Here at Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam atque asperiores tempora, sit at neque facilis cum inventore ducimus molestiae aliquid natus sunt ut sapiente, autem est error quam illo!</h4>
        </div>
            <div class="mt-3 col-md-8 offset-md-2">
                <img class="img-fluid rounded" src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1" alt="workout image">
            </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-sm-2 mt-5">
            <h4 class="text-center secondp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quae, eaque dolorem minus nostrum voluptate molestiae cupiditate consectetur, facere cum eligendi! Beatae aspernatur, eius in dolor nam nobis nemo nostrum.</h4>
            <img src="https://images.unsplash.com/photo-1579758629938-03607ccdbaba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1" alt="" class="img-fluid rounded mt-2">
        </div>
    </div>
</div>