<% layout('./layouts/boilerplate.ejs')  -%> 
<div class="container-fluid p-0" id="main">
    <div class="container-fluid landing-img d-flex align-items-center ">
        <div class="col-md-4 offset-4 center-tag-line">
            <div>
                <span class="tag-line ">Catchy tag line</span>
                <div>
                    <a class="btn btn-join" href="/sign-up" role="button">Join us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="overview-label col-md-4 offset-3 mb-5">
            <h4 class="overview-label-text">Here at Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam atque asperiores tempora, sit at neque facilis cum inventore ducimus molestiae aliquid natus sunt ut sapiente, autem est error quam illo!</h4>
        </div>
        <div class="mt-3 overview-landing">
            <div>hi</div>
        </div>
    </div>
</div>